body {
    background-color: #000;
    color: #0f0;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    margin: 0 auto;
    padding: 15px;
}
h1 {
    font-size: 1.4rem;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    margin-bottom: 7px;
}
a {
    color: #0f0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
fieldset {
    padding: 10px 20px 10px 10px;
    border: 1px #0f0 dashed;
}
legend {
    text-align: center;
}
input, textarea {
    display: block;
    width: 100%;
    background-color: #000;
    border: 1px #0f0 dashed;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    color: #0f0;
    font-size: 1.4rem;
    padding: 5px;
    margin-bottom: 10px;
}
textarea {
    height: 6rem;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #0f0;
    scrollbar-face-color: #0f0;
}
::-webkit-scrollbar-track-piece {
    border-left: 1px #0f0 dashed;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner {
    background-color: #000;
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-thumb {
    background-color: #0f0;
    color: #000;
}
input[type="button"] {
    box-sizing: content-box;
    background-color: #0f0;
    color: #000;
    padding: 5px;
    font-size: 1.2rem;
}
#result {
    font-size: 1.4rem;
    margin: 20px 0;
    padding: 5px;
    display: none;
}